{% extends "base.html" %}


{% block content %}
 <h1>Hi, {{ current_user.username }}!</h1>

{% for u in users%}
    <div>
    <p>
    Username :  {{u.username}} <br>
    email :   {{u.email}}
    </p>

    </div>
   {% if user != current_user %}
                <p>
                    <a href="{{ url_for('main.send_message',
                                        recipient=user.username) }}">
                        {{ _('Send private message') }}
                    </a>
                </p>
                {% endif %}
{% endfor %}



{% endblock %}